@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-left">
    <h3 class="display-5">Projeto Elevador - Documentação</h3>
    <p><b>Conclusão Curso MS-DEV - Samsung Ocean</b></p>
    </div><p></p>
   
    <body>
    <br>
    <h6>Início do Programa</h6>
    <p>Ao iniciar o projeto elevador será exibido as informações sobre a quantidade de andares e a capacidade do elevador.<br>
    Abaixo é exibido o menu onde o usuário poderá interagir com o programa.<br></p>
    <img src="/img/menu_inicio.jpg"/>
    <p></p><h6>Entrar no Elevador</h6>
    <p>Quando o usuário selecionar a opção "Entrar"", será adicionado uma pessoa ao elevador e o contador será atualizado no console.</p>
    <img src="/img/entrar.jpg"/><p></p>
     <p>Caso o usuário tente adicionar uma pessoa e o elevador já estiver cheio (5 pessoas), será exibida uma mensagem. </p>
    <img src="/img/msg_cheio.jpg"/>
    <p></p><h6>Sair do Elevador</h6>
    <p>Quando o usuário selecionar a opção "Sair"", será removida uma pessoa do elevador e o contador será atualizado no console.</p>
    <img src="/img/sair.jpg"/><p></p>
    <p>Caso o usuário tente remover uma pessoa e o elevador já estiver vazio, será exibida uma mensagem. </p>
    <img src="/img/msg_vazio.jpg"/>
    <p></p><h6>Subir um Andar</h6>
    <p>Quando o usuário selecionar a opção "Subir", será adicionado um andar ao elevador considerando seu andar atual. </p>
    <img src="/img/subir.jpg"/><p></p>
    <p>Caso o usuário tente subir um andar após chegar ao último andar (10º andar), será exibida uma mensagem. </p>
    <img src="/img/msg_ultimoandar.jpg"/>
    <p></p><h6>Descer um Andar</h6>
    <p>Quando o usuário selecionar a opção "Descer", será reduzido um andar considerando o andar atual do elevador. </p>
    <img src="/img/descer.jpg"/><p></p>
     <p>Caso o usuário tente descer e o elevador já esteja no térreo, será exibida uma mensagem. </p>
    <img src="/img/msg_terreo.jpg"/>
    <p></p><h6>Opção Inexistente</h6>
    <p>Caso o usuário insira uma opção que não existe no menu, será exibida uma mensagem. </p>
    <img src="/img/msg_invalida.jpg"/>
    <p></p><h6>Finalizar</h6>
    <p>A opção "Finalizar"" exibe uma mensagem e encerra o programa. <p></p>
    <img src="/img/finalizar.jpg"/><br><br>
      
    </body>










